@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700italic,800,800italic,700,300italic,300&subset=latin,cyrillic-ext);
/* line 5, ../../../../lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "icons";
  src: url("../fonts/icons-ad36ed4fd094ca1e370bbdc0022f2d56.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "consola";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/consola.ttf") format("ttf");
}
@font-face {
  font-family: "consolab";
  src: url("../fonts/consolab.ttf") format("ttf");
}
@font-face {
  font-family: "consolai";
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/consolai.ttf") format("ttf");
}
@font-face {
  font-family: "consolaz";
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/consolaz.ttf") format("ttf");
}
/* line 38, ../sass/main.sass */
html, body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

/* line 43, ../sass/main.sass */
body {
  background: #000;
  overflow: hidden;
  font-size: 18px;
}
@media screen and (max-width: 1024px) {
  /* line 43, ../sass/main.sass */
  body {
    font-size: 16px;
  }
}
@media screen and (max-width: 600px) {
  /* line 43, ../sass/main.sass */
  body {
    font-size: 14px;
  }
}

.no-csstransforms3d .st-pusher, .no-js .st-pusher {
    padding-left: 0;
}


/* line 55, ../sass/main.sass */
a:focus {
  outline: 0;
}

/* line 58, ../sass/main.sass */
.revealOnScroll {
  opacity: 0;
}

/* line 61, ../sass/main.sass */
.st-menu {
  padding: 15px;
}

/* line 64, ../sass/main.sass */
.wrap-st-content {
  position: relative;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

/* line 70, ../sass/main.sass */
.page {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
/* line 75, ../sass/main.sass */
.page#kontakty {
  background-color: #e4e8e8;
}

/* line 78, ../sass/main.sass */
.main {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
/* line 83, ../sass/main.sass */
.main .icon-arrow {
  position: absolute;
  display: block;
  bottom: 25px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  height: 28px;
  width: 43px;
  background: url("../images/icon-arrow.png") 0 0 no-repeat;
  cursor: pointer !important;
}
/* line 94, ../sass/main.sass */
.main .wrap-sticker {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
/* line 99, ../sass/main.sass */
.main .sticker {
  position: absolute;
  background: none;
  width: 50% !important;
  height: 300px !important;
  top: 90px;
  bottom: 0px;
  right: 40px;
  margin: auto 0;
}
/* line 108, ../sass/main.sass */
.main .sticker .wrap {
  width: auto !important;
  height: auto !important;
  padding: 45px;
}
/* line 112, ../sass/main.sass */
.main .sticker h2 {
  color: #fff;
  font-size: 2.22222em;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-shadow: rgba(0, 0, 0, 0.38) 2px 0px 4px, rgba(0, 0, 0, 0.38) 2px 0px 4px, rgba(0, 0, 0, 0.38) 2px 0px 4px;
}
/* line 119, ../sass/main.sass */
.main .sticker p {
  color: #fff;
  font-size: 1em;
  line-height: 1.2em;
  text-shadow: rgba(0, 0, 0, 0.38) 2px 0px 4px, rgba(0, 0, 0, 0.38) 2px 0px 4px, rgba(0, 0, 0, 0.38) 2px 0px 4px;
}
/* line 125, ../sass/main.sass */
.main .slick-slider {
  height: 100%;
}
/* line 127, ../sass/main.sass */
.main .slick-slider .slick-next {
  position: absolute;
  width: 28px;
  height: 43px;
  right: 25px;
  background: url(../images/next.png) center center no-repeat;
  font-size: 0;
}
/* line 134, ../sass/main.sass */
.main .slick-slider .slick-next:before {
  content: "";
}
/* line 136, ../sass/main.sass */
.main .slick-slider .slick-prev {
  position: absolute;
  width: 28px;
  height: 43px;
  left: 25px;
  background: url(../images/prev.png) center center no-repeat;
  font-size: 0;
  z-index: 1;
}
/* line 144, ../sass/main.sass */
.main .slick-slider .slick-prev:before {
  content: "";
}

/* line 147, ../sass/main.sass */
.nav-main {
  position: fixed;
  font-size: 18px;
  height: 90px;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  z-index: 1000;
}
/* line 155, ../sass/main.sass */
.nav-main a.logo {
  display: table-cell;
  vertical-align: top;
  padding-left: 115px;
}
/* line 159, ../sass/main.sass */
.nav-main a.logo img {
  width: auto !important;
  visibility: visible !important;
}
/* line 162, ../sass/main.sass */
.nav-main a.search {
  display: table-cell;
  vertical-align: top;
}
/* line 165, ../sass/main.sass */
.nav-main a.search span {
  display: inline-block;
  background: url("../images/icon-search.png") center center no-repeat;
  width: 95px;
  height: 95px;
  vertical-align: top;
}
/* line 171, ../sass/main.sass */
.nav-main ul {
  display: table-cell;
  margin: 0 auto;
  width: 100%;
  height: 90px;
  line-height: 90px;
  text-align: justify;
  vertical-align: top;
  padding: 0px 115px 0px 85px;
}
/* line 180, ../sass/main.sass */
.nav-main ul li {
  display: inline-block;
}
/* line 182, ../sass/main.sass */
.nav-main ul li a {
  color: #fff;
  font-size: 0.77778em;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 188, ../sass/main.sass */
.nav-main ul li a:hover {
  color: #3eb5f1;
}
/* line 191, ../sass/main.sass */
.nav-main ul li.current a {
  color: #3eb5f1;
}
/* line 193, ../sass/main.sass */
.nav-main ul:after {
  display: inline-block;
  width: 100%;
  content: "";
}

/* line 198, ../sass/main.sass */
.navbar-toggle {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 20px;
  display: block;
  width: 30px;
  height: 30px;
  margin: auto 0 auto 0;
  border: 0;
  background-color: rgba(0, 0, 0, 0.22);
  border-radius: 5px;
}
/* line 210, ../sass/main.sass */
.navbar-toggle .icon-bar {
  display: block;
  background: #fff;
  height: 2px;
  width: 100%;
  border-radius: 1px;
}
/* line 216, ../sass/main.sass */
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}

/* line 219, ../sass/main.sass */
.navbar-toggle {
  display: none;
}

/* line 222, ../sass/main.sass */
.directors {
  position: relative;
  min-height: 100%;
  width: 100%;
  top: 0px;
  background: #e8e8e8;
  overflow: hidden;
}
/* line 229, ../sass/main.sass */
.directors .wrap-directors-list {
  margin-top: 110px;
  padding: 0px 115px;
}
/* line 232, ../sass/main.sass */
.directors .wrap-directors-list ul {
  font-size: 0;
  margin: 0 -10px;
}
/* line 235, ../sass/main.sass */
.directors .wrap-directors-list ul li {
  display: inline-block;
  width: 20%;
  margin-bottom: 20px;
  vertical-align: top;
}
/* line 240, ../sass/main.sass */
.directors .wrap-directors-list ul li a.inner {
  display: block;
  text-decoration: none;
  padding: 0px 10px;
}
/* line 244, ../sass/main.sass */
.directors .wrap-directors-list ul li a.inner .block-image {
  width: 100%;
}

.directors .wrap-directors-list ul li a.inner .block-image canvas {
    width: 100%;
}

/* line 248, ../sass/main.sass */
.directors .wrap-directors-list ul li a.inner .block-content .block-title {
  color: #000;
  font-size: 21px;
  font-weight: bold;
  border-bottom: #a2a2a2 solid 2px;
  padding: 19px 0px 13px 0px;
}
@media screen and (max-width: 1024px) {
  /* line 248, ../sass/main.sass */
  .directors .wrap-directors-list ul li a.inner .block-content .block-title {
    font-size: 19px;
  }
}
@media screen and (max-width: 600px) {
  /* line 248, ../sass/main.sass */
  .directors .wrap-directors-list ul li a.inner .block-content .block-title {
    font-size: 17px;
  }
}
/* line 258, ../sass/main.sass */
.directors .wrap-directors-list ul li a.inner .block-content .block-info {
  color: #1d6887;
  font-size: 21px;
  font-weight: bold;
  padding: 11px 0px;
}
@media screen and (max-width: 1024px) {
  /* line 258, ../sass/main.sass */
  .directors .wrap-directors-list ul li a.inner .block-content .block-info {
    font-size: 19px;
  }
}
@media screen and (max-width: 600px) {
  /* line 258, ../sass/main.sass */
  .directors .wrap-directors-list ul li a.inner .block-content .block-info {
    font-size: 17px;
  }
}

/* line 268, ../sass/main.sass */
.posts-block {
  padding-top: 45px;
}
/* line 270, ../sass/main.sass */
.posts-block.bg-posts-block {
  background: #e4e8e8;
}
/* line 272, ../sass/main.sass */
.posts-block.bg-none-posts-block {
  background: none;
}
/* line 274, ../sass/main.sass */
.posts-block .slide {
  position: relative;
  padding: 310px 85px 75px 85px;
}
/* line 277, ../sass/main.sass */
.posts-block .slide .submenu {
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  margin: 0px -85px;
  top: 0;
}
/* line 283, ../sass/main.sass */
.posts-block .slide .submenu ul {
  height: 95px;
  padding: 0px 85px;
  text-align: justify;
  line-height: 95px;
}
/* line 288, ../sass/main.sass */
.posts-block .slide .submenu ul:after {
  content: "";
  display: inline-block;
  width: 100%;
}
/* line 292, ../sass/main.sass */
.posts-block .slide .submenu ul li {
  display: inline-block;
  vertical-align: middle;
}
/* line 295, ../sass/main.sass */
.posts-block .slide .submenu ul li a {
  color: #fff;
  font-size: 0.83333em;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 302, ../sass/main.sass */
.posts-block .slide h1 {
  color: #fff;
  font-size: 3.33333em;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 307, ../sass/main.sass */
.posts-block .hexagons {
  position: relative;
  font-size: 0;
  bottom: 0;
  width: 100%;
}
/* line 312, ../sass/main.sass */
.posts-block .hexagons.bg-none {
  background: none;
}
/* line 314, ../sass/main.sass */
.posts-block .hexagons > ul {
  padding: 80px 115px 40px;
  margin: 0 -20px;
  font-size: 0;
}
/* line 318, ../sass/main.sass */
.posts-block .hexagons > ul > li {
  position: relative;
  display: inline-block;
  width: 33.33%;
  vertical-align: top;
}
/* line 324, ../sass/main.sass */
.posts-block .hexagons > ul > li .wrap {
  position: relative;
  padding: 0 20px 40px;
}
/* line 328, ../sass/main.sass */
.posts-block .hexagons > ul > li .info h5 {
  font-size: 16px;
  line-height: 1;
  font-weight: 700;
  text-align: left;
  padding: 1px 0;
  margin-bottom: 22px;
  color: #0c121c;
  -webkit-font-smoothing: subpixel-antialiased;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
@media screen and (max-width: 1024px) {
  /* line 328, ../sass/main.sass */
  .posts-block .hexagons > ul > li .info h5 {
    font-size: 14px;
  }
}
@media screen and (max-width: 600px) {
  /* line 328, ../sass/main.sass */
  .posts-block .hexagons > ul > li .info h5 {
    font-size: 12px;
  }
}
/* line 343, ../sass/main.sass */
.posts-block .hexagons > ul > li .info p {
  font-size: 14px;
  color: #0c121c;
}
@media screen and (max-width: 1024px) {
  /* line 343, ../sass/main.sass */
  .posts-block .hexagons > ul > li .info p {
    font-size: 12px;
  }
}
@media screen and (max-width: 600px) {
  /* line 343, ../sass/main.sass */
  .posts-block .hexagons > ul > li .info p {
    font-size: 10px;
  }
}
/* line 350, ../sass/main.sass */
.posts-block .hexagons > ul > li .info a {
  color: #898c8f;
  margin-top: 24px;
  display: inline-block;
  position: relative;
  margin-top: 20px;
  padding-left: 18px;
  line-height: 1.25;
  font-weight: bold;
  font-size: 10px;
  letter-spacing: 0.25em;
  text-decoration: none;
  border: 0;
  overflow: hidden;
  -webkit-transition: color 0.4s, text-shadow 0.4s;
  -webkit-transition-delay: 0s, 0s;
  -moz-transition: color 0.4s, text-shadow 0.4s;
  -o-transition: color 0.4s, text-shadow 0.4s;
  transition: color 0.4s, text-shadow 0.4s;
  text-transform: uppercase;
}
@media screen and (max-width: 1024px) {
  /* line 350, ../sass/main.sass */
  .posts-block .hexagons > ul > li .info a {
    font-size: 8px;
  }
}
@media screen and (max-width: 600px) {
  /* line 350, ../sass/main.sass */
  .posts-block .hexagons > ul > li .info a {
    font-size: 6px;
  }
}
/* line 374, ../sass/main.sass */
.posts-block .hexagons > ul > li .info a:before {
  content: "";
  position: absolute;
  top: 1px;
  left: -4px;
}
/* line 379, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon {
  position: relative;
  float: left;
  margin: 0px auto 33px auto;
  width: 100%;
  height: 100%;
  z-index: 1;
  /* Text styling */
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: color 500ms ease, text-shadow 500ms ease;
}
@media screen and (max-width: 1024px) {
  /* line 379, ../sass/main.sass */
  .posts-block .hexagons > ul > li .hexagon {
    font-size: 13px;
  }
}
@media screen and (max-width: 600px) {
  /* line 379, ../sass/main.sass */
  .posts-block .hexagons > ul > li .hexagon {
    font-size: 11px;
  }
}
/* line 399, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-companies .companies {
  font-size: 0;
  margin: 0px -90px;
  text-align: left;
}
/* line 403, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-companies .companies .wrap-company {
  display: inline-block;
  width: 50%;
  margin-bottom: 70px;
  vertical-align: top;
}
.posts-block .hexagons > ul > li .hexagon .wrap-companies .companies .wrap-company.wrap-company-full {
    width: 100%;
}
.posts-block .hexagons > ul > li .hexagon .wrap-companies .companies .wrap-company.wrap-company-full {
    width: 100%;
}
/* line 407, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-companies .companies .wrap-company .company {
  font-size: 0;
  padding: 0px 75px;
}
/* line 410, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-companies .companies .wrap-company .company .image {
    display: table-cell;
    width: auto;
}
/* line 413, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-companies .companies .wrap-company .company .image img {
  width: auto;
  visibility: visible !important;
}
/* line 416, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-companies .companies .wrap-company .company .info {
  display: table-cell !important;
  width: 100%;
  text-align: left;
  vertical-align: top;
}
/* line 421, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-companies .companies .wrap-company .company .info h2,
.posts-block .hexagons > ul > li .hexagon .wrap-companies .companies .wrap-company .company .info h2 a {
  font-size: 24px;
  font-weight: bold;
  color: #3eb5f1;
  padding-left: 15px;
  margin-bottom: 30px;
  text-decoration: none;
  display: inline;
  letter-spacing: 0;
  text-transform: initial;
}
.posts-block .hexagons > ul > li .hexagon .wrap-companies .companies .wrap-company .company .info h2 a {
  padding-left: 0!important;
}
.posts-block .hexagons > ul > li .hexagon .wrap-companies .companies .wrap-company .company .info h2 a:before {
  display: none;
}
@media screen and (max-width: 1024px) {
  /* line 421, ../sass/main.sass */
  .posts-block .hexagons > ul > li .hexagon .wrap-companies .companies .wrap-company .company .info h2,
  .posts-block .hexagons > ul > li .hexagon .wrap-companies .companies .wrap-company .company .info h2 a {
    font-size: 22px;
  }
}
@media screen and (max-width: 600px) {
  /* line 421, ../sass/main.sass */
  .posts-block .hexagons > ul > li .hexagon .wrap-companies .companies .wrap-company .company .info h2,
  .posts-block .hexagons > ul > li .hexagon .wrap-companies .companies .wrap-company .company .info h2 a {
    font-size: 20px;
  }
}
/* line 431, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-companies .companies .wrap-company .company .info p {
  font-size: 18px;
  font-weight: 600;
  color: #000;
  padding-left: 15px;
  margin-bottom: 30px;
}
@media screen and (max-width: 1024px) {
  /* line 431, ../sass/main.sass */
  .posts-block .hexagons > ul > li .hexagon .wrap-companies .companies .wrap-company .company .info p {
    font-size: 16px;
  }
}
@media screen and (max-width: 600px) {
  /* line 431, ../sass/main.sass */
  .posts-block .hexagons > ul > li .hexagon .wrap-companies .companies .wrap-company .company .info p {
    font-size: 14px;
  }
}
/* line 441, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-svg {
  position: relative;
  height: 100%;
  width: 100%;
  max-height: 560px;
  z-index: 10;
}
/* line 447, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-svg .nv-left {
  position: absolute;
  width: 108px;
  top: 160px;
  bottom: 0px;
  margin: auto 0px;
  display: none;
}
/* line 454, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-svg .nv-left .inner {
  position: absolute;
  background: url("../images/prev.png") 0 0 no-repeat;
  width: 28px;
  height: 43px;
  top: 0px;
  bottom: 0;
  margin: auto 30px;
}
/* line 462, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-svg .nv-right {
  position: absolute;
  width: 108px;
  top: 160px;
  bottom: 0px;
  right: 0;
  margin: auto 0px;
  display: none;
}
/* line 470, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-svg .nv-right .inner {
  position: absolute;
  background: url("../images/next.png") 0 0 no-repeat;
  width: 28px;
  height: 43px;
  top: 0px;
  right: 0;
  bottom: 0;
  margin: auto 30px;
}
/* line 479, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-svg .submenu {
  display: none;
}
/* line 481, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-svg h1 {
  display: none;
}
/* line 483, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-svg p {
  display: none;
}
/* line 486, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-svg.wrap-svg-show .nv-left, .posts-block .hexagons > ul > li .hexagon .wrap-svg.wrap-svg-show .nv-right {
  display: block;
}
/* line 488, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-svg.wrap-svg-show .submenu {
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 90px;
  display: block;
}
/* line 494, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-svg.wrap-svg-show .submenu ul {
  height: 70px;
  padding: 0px 115px;
  text-align: justify;
  line-height: 70px;
}
/* line 499, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-svg.wrap-svg-show .submenu ul:after {
  content: "";
  display: inline-block;
  width: 100%;
}
/* line 503, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-svg.wrap-svg-show .submenu ul li {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  width: auto;
}
/* line 508, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-svg.wrap-svg-show .submenu ul li a {
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
@media screen and (max-width: 1024px) {
  /* line 508, ../sass/main.sass */
  .posts-block .hexagons > ul > li .hexagon .wrap-svg.wrap-svg-show .submenu ul li a {
    font-size: 12px;
  }
}
@media screen and (max-width: 600px) {
  /* line 508, ../sass/main.sass */
  .posts-block .hexagons > ul > li .hexagon .wrap-svg.wrap-svg-show .submenu ul li a {
    font-size: 10px;
  }
}
/* line 518, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-svg.wrap-svg-show .submenu ul li a.current, .posts-block .hexagons > ul > li .hexagon .wrap-svg.wrap-svg-show .submenu ul li a:hover {
  color: #3eb5f1;
}
/* line 520, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-svg.wrap-svg-show .wrap-h1 {
  position: absolute;
  top: 160px;
  bottom: 0px;
  left: 0;
  right: 0;
  padding: 75px 115px 35px 115px;
  text-align: left;
  background: rgba(0, 0, 0, 0.2);
}
/* line 529, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-svg.wrap-svg-show .wrap-h1 h1 {
  color: #fff;
  font-size: 40px;
  font-weight: normal;
  text-transform: uppercase;
  display: block;
  text-shadow: rgba(0, 0, 0, 0.38) 2px 0px 4px, rgba(0, 0, 0, 0.38) 2px 0px 4px, rgba(0, 0, 0, 0.38) 2px 0px 4px;
  margin-bottom: 20px;
}
@media screen and (max-width: 1024px) {
  /* line 529, ../sass/main.sass */
  .posts-block .hexagons > ul > li .hexagon .wrap-svg.wrap-svg-show .wrap-h1 h1 {
    font-size: 38px;
  }
}
@media screen and (max-width: 600px) {
  /* line 529, ../sass/main.sass */
  .posts-block .hexagons > ul > li .hexagon .wrap-svg.wrap-svg-show .wrap-h1 h1 {
    font-size: 36px;
  }
}
/* line 541, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-svg.wrap-svg-show .wrap-h1 p {
  width: 50%;
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  line-height: 1em;
  display: inline-block;
  text-shadow: rgba(0, 0, 0, 0.38) 2px 0px 4px, rgba(0, 0, 0, 0.38) 2px 0px 4px, rgba(0, 0, 0, 0.38) 2px 0px 4px;
}
@media screen and (max-width: 1024px) {
  /* line 541, ../sass/main.sass */
  .posts-block .hexagons > ul > li .hexagon .wrap-svg.wrap-svg-show .wrap-h1 p {
    font-size: 16px;
  }
}
@media screen and (max-width: 600px) {
  /* line 541, ../sass/main.sass */
  .posts-block .hexagons > ul > li .hexagon .wrap-svg.wrap-svg-show .wrap-h1 p {
    font-size: 14px;
  }
}
/* line 553, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon img {
  width: 100%;
  visibility: hidden;
}
/* line 556, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .mediaOverlayIcon {
  position: absolute;
  right: 15px;
  bottom: 13px;
}
/* line 560, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .mediaOverlayIcon:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0;
  content: "";
  font-size: 22px;
}
@media screen and (max-width: 1024px) {
  /* line 560, ../sass/main.sass */
  .posts-block .hexagons > ul > li .hexagon .mediaOverlayIcon:before {
    font-size: 20px;
  }
}
@media screen and (max-width: 600px) {
  /* line 560, ../sass/main.sass */
  .posts-block .hexagons > ul > li .hexagon .mediaOverlayIcon:before {
    font-size: 18px;
  }
}
/* line 583, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon:hover {
  color: #fff;
}
/* line 585, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .card__copy {
  font-size: 1.25em;
  max-width: 900px;
  margin: 0 auto;
  padding: 25px 30px 100px;
  color: #3b393d;
  text-align: left;
}
/* line 592, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .card__copy * {
  color: #3b393d;
  line-height: 1.5;
  font-size: 18px;
  font-weight: normal;
}
@media screen and (max-width: 1024px) {
  /* line 592, ../sass/main.sass */
  .posts-block .hexagons > ul > li .hexagon .card__copy * {
    font-size: 16px;
  }
}
@media screen and (max-width: 600px) {
  /* line 592, ../sass/main.sass */
  .posts-block .hexagons > ul > li .hexagon .card__copy * {
    font-size: 14px;
  }
}
/* line 601, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .card__caption {
  font-size: 2em;
  max-width: 900px;
  margin: 0 auto;
  padding: 35px 30px 0px;
  text-align: left;
  visibility: hidden;
}
/* line 608, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .card__caption h2 {
  font-size: 1.5em;
  line-height: 1;
  margin: 5px 0 0 0;
  color: #3b393d;
}
/* line 613, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .card__caption p {
  font-size: 0.95em;
  line-height: 1;
  margin: 5px 0 0;
  color: #777778;
}
/* line 618, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .face1,
.posts-block .hexagons > ul > li .hexagon .face2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: inherit;
  z-index: -1;
  /* Keeps borders smooth in webkit */
  backface-visibility: hidden;
}
/* line 630, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .face1:before,
.posts-block .hexagons > ul > li .hexagon .face2:before {
  content: "";
  position: absolute;
  width: 220px;
  height: 220px;
  background: inherit;
}
/* line 637, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .face1 {
  transform: rotate(60deg);
}
/* line 639, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .face1:before {
  left: 0;
  transform-origin: left top;
  transform: rotate(-60deg) translate(-110px, 0);
}
/* line 643, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .face2 {
  transform: rotate(-60deg);
}
/* line 645, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .face2:before {
  right: 0;
  transform-origin: right top;
  transform: rotate(60deg) translate(110px, 0);
}

/* line 651, ../sass/main.sass */
.news-block {
  height: 100%;
  min-height: 100%;
}
/* line 654, ../sass/main.sass */
.news-block .inner-news-block {
  background: #eee;
  min-height: 100%;
}
/* line 657, ../sass/main.sass */
.news-block .inner-news-block h2 {
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
  padding: 30px 0 50px 0;
}
/* line 662, ../sass/main.sass */
.news-block .inner-news-block .wrap-news {
  padding: 130px 115px 70px 115px;
  margin: 0 auto;
  background: #eee;
}
/* line 666, ../sass/main.sass */
.news-block .inner-news-block .wrap-news .news {
  margin: 0 -20px;
}
/* line 668, ../sass/main.sass */
.news-block .inner-news-block .wrap-news .news ul {
  font-size: 0;
}
/* line 670, ../sass/main.sass */
.news-block .inner-news-block .wrap-news .news ul li {
  display: inline-block;
  width: 33.33%;
  margin-bottom: 40px;
  vertical-align: top;
}
/* line 674, ../sass/main.sass */
.news-block .inner-news-block .wrap-news .news ul li .wrap {
  padding: 0px 20px;
}
/* line 676, ../sass/main.sass */
.news-block .inner-news-block .wrap-news .news ul li .wrap .image {
  margin-bottom: 24px;
}
/* line 678, ../sass/main.sass */
.news-block .inner-news-block .wrap-news .news ul li .wrap .image img {
  width: 100%;
}
/* line 680, ../sass/main.sass */
.news-block .inner-news-block .wrap-news .news ul li .wrap .head {
  color: #70ccf3;
  margin-bottom: 20px;
}
/* line 683, ../sass/main.sass */
.news-block .inner-news-block .wrap-news .news ul li .wrap .head span.first {
  font-size: 36px;
}
@media screen and (max-width: 1024px) {
  /* line 683, ../sass/main.sass */
  .news-block .inner-news-block .wrap-news .news ul li .wrap .head span.first {
    font-size: 34px;
  }
}
@media screen and (max-width: 600px) {
  /* line 683, ../sass/main.sass */
  .news-block .inner-news-block .wrap-news .news ul li .wrap .head span.first {
    font-size: 32px;
  }
}
/* line 689, ../sass/main.sass */
.news-block .inner-news-block .wrap-news .news ul li .wrap .head span.second {
  font-size: 24px;
  padding-left: 8px;
  vertical-align: top;
}
@media screen and (max-width: 1024px) {
  /* line 689, ../sass/main.sass */
  .news-block .inner-news-block .wrap-news .news ul li .wrap .head span.second {
    font-size: 22px;
  }
}
@media screen and (max-width: 600px) {
  /* line 689, ../sass/main.sass */
  .news-block .inner-news-block .wrap-news .news ul li .wrap .head span.second {
    font-size: 20px;
  }
}
/* line 697, ../sass/main.sass */
.news-block .inner-news-block .wrap-news .news ul li .wrap a.title {
  display: inline-block;
  font-size: 18px;
  color: #000;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-decoration: none;
}
@media screen and (max-width: 1024px) {
  /* line 697, ../sass/main.sass */
  .news-block .inner-news-block .wrap-news .news ul li .wrap a.title {
    font-size: 16px;
  }
}
@media screen and (max-width: 600px) {
  /* line 697, ../sass/main.sass */
  .news-block .inner-news-block .wrap-news .news ul li .wrap a.title {
    font-size: 14px;
  }
}
/* line 709, ../sass/main.sass */
.news-block .inner-news-block .wrap-news .news ul li .wrap a.description {
  display: inline-block;
  font-size: 18px;
  color: #000;
  text-align: left;
  text-decoration: none;
}
@media screen and (max-width: 1024px) {
  /* line 709, ../sass/main.sass */
  .news-block .inner-news-block .wrap-news .news ul li .wrap a.description {
    font-size: 16px;
  }
}
@media screen and (max-width: 600px) {
  /* line 709, ../sass/main.sass */
  .news-block .inner-news-block .wrap-news .news ul li .wrap a.description {
    font-size: 14px;
  }
}
/* line 719, ../sass/main.sass */
.news-block .inner-news-block .wrap-news .news ul li .wrap a.button {
  font-size: 18px;
  color: #000;
  border: #000 solid 1px;
  margin: 40px 0 0 0;
  float: left;
  padding: 9px 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
@media screen and (max-width: 1024px) {
  /* line 719, ../sass/main.sass */
  .news-block .inner-news-block .wrap-news .news ul li .wrap a.button {
    font-size: 16px;
  }
}
@media screen and (max-width: 600px) {
  /* line 719, ../sass/main.sass */
  .news-block .inner-news-block .wrap-news .news ul li .wrap a.button {
    font-size: 14px;
  }
}
/* line 734, ../sass/main.sass */
.news-block .inner-news-block .all-news {
  float: right;
  color: #000;
  margin-top: 40px;
  text-decoration: none;
}

/* line 740, ../sass/main.sass */
.text {
  min-height: 100%;
  background-color: #ffffff;
}
/* line 744, ../sass/main.sass */
.text .image-block {
    position: relative;
  height: 560px;
}
.text .image-block h1 {
    position: absolute;
    bottom: 0;
    color: #fff;
    padding: 20px 115px;
    margin: 0 auto;
    font-size: 2.22em;
}
/* line 746, ../sass/main.sass */
.text .content {
  padding: 20px 115px;
  margin: 0 auto;
}
/* line 749, ../sass/main.sass */
.text .content p {
  font-size: 1em;
  line-height: 1.5em;
  color: #000000;
}

/* line 755, ../sass/main.sass */
.CursorAnimateRotate {
  position: absolute;
  width: 100%;
  top: 0px;
  bottom: 0;
}

/*======================================== contacts =============== */
/* line 815, ../sass/main.sass */
.container-contacts {
  position: absolute;
  margin: auto;
  width: 100%;
  max-width: 1530px;
  height: 529px;
  top: 60px;
  bottom: 64px;
  left: -12px;
  right: 0px;
}

/* line 826, ../sass/main.sass */
.container-contacts .inner {
  margin: 0px 35px;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #fff;
}

/* line 832, ../sass/main.sass */
.form-block {
  display: inline-block;
  width: 50%;
  border-right: 1px solid #d2d2d2;
  height: 100%;
  margin-right: -1px;
}

/* line 839, ../sass/main.sass */
.form-caption {
  color: red;
  font-size: 1.33333em;
  color: red;
  text-transform: uppercase;
  text-align: left;
  margin-top: 30px;
}

/* line 847, ../sass/main.sass */
.form-caption-main {
  color: red;
  font-size: 1.33333em;
  color: red;
  text-transform: uppercase;
  text-align: left;
  margin-top: 30px;
  margin-left: 20px;
}

/* line 856, ../sass/main.sass */
form {
  margin-left: 77px;
}

/* line 859, ../sass/main.sass */
input {
  font-family: "Open Sans", sans-serif;
  display: block;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  background: #fff;
  width: 75%;
  margin-top: 20px;
  overflow: hidden;
  font-size: 1.33333em;
  padding-left: 20px;
  border-radius: 0px;
}
/* line 871, ../sass/main.sass */
input:focus {
  outline: 0;
}

/* line 874, ../sass/main.sass */
input[type='submit'],
button[type='submit'] {
  font-family: "Open Sans", sans-serif;
  border: none;
  background: #99c45a;
  color: white;
  width: 170px;
  height: 47px;
  border-radius: 30px;
  text-align: center;
  display: block;
  text-transform: uppercase;
  font-size: 1.33333em;
  cursor: pointer;
  margin-top: 60px;
  -ms-border-radius: 20px;
  -ms-behavior: url("/bundles/sitemain/css/pie.htc");
  margin-bottom: 80px;
  padding: 0;
  line-height: 50px;
  cursor: pointer;
}
/* line 895, ../sass/main.sass */
input[type='submit']:focus,
button[type='submit']:focus {
  outline: 0;
}

/* line 898, ../sass/main.sass */
.form-block input,
input[type='submit'],
button[type='submit'] {
  font-size: 1.11111em;
}

/* line 903, ../sass/main.sass */
.form-block input::-webkit-input-placeholder {
  color: #000;
  font-size: 1.11111em;
}

/* line 906, ../sass/main.sass */
.form-block input::-moz-placeholder {
  color: #000;
  font-size: 1.11111em;
  opacity: 1;
}

/* line 910, ../sass/main.sass */
.form-block input:-moz-placeholder {
  color: #000;
  font-size: 1.11111em;
  opacity: 1;
}

/* line 914, ../sass/main.sass */
.form-block input:-ms-input-placeholder {
  color: #000;
  font-size: 1.11111em;
}

/* line 917, ../sass/main.sass */
.placeholder {
  color: #000;
}

/* line 919, ../sass/main.sass */
.address {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

/* line 923, ../sass/main.sass */
.address .wrap {
  padding-left: 77px;
}

/* line 925, ../sass/main.sass */
.address p {
  margin-top: 30px;
  display: block;
  font-size: 1.11111em;
}

/* line 929, ../sass/main.sass */
.address a {
  text-decoration: none;
  color: #000;
}

/* line 933, ../sass/main.sass */
footer {
  background: #000;
  height: 130px;
}

/* line 938, ../sass/main.sass */
.st-menu h2 {
  font-size: 0.88889em;
  color: #fff;
  margin: 25px 0 0 0;
  padding: 0;
}
/* line 944, ../sass/main.sass */
.st-menu p {
  font-size: 1.11111em;
  color: #acacac;
  margin: 1.11111em 0px;
  padding: 0;
}
/* line 949, ../sass/main.sass */
.st-menu .pluso {
  margin-left: -5px;
}
/* line 951, ../sass/main.sass */
.st-menu .block {
  margin: 0 0 60px 0;
}
/* line 953, ../sass/main.sass */
.st-menu form {
  margin-top: 50px;
}
/* line 955, ../sass/main.sass */
.st-menu form .hint {
  color: #00b3ee;
  margin-bottom: 10px;
}
/* line 958, ../sass/main.sass */
.st-menu form .hint-error {
  color: red;
}
/* line 960, ../sass/main.sass */
.st-menu form label.error {
  display: none !important;
}
/* line 962, ../sass/main.sass */
.st-menu form input.form-control, .st-menu form textarea.form-control {
  height: auto;
  width: 100%;
  border: 0;
  border-bottom: #acacac solid 1px;
  background: #000;
  font-size: 1em;
  color: #fff;
  line-height: inherit;
  margin: 0 0 20px 0;
  padding: 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  resize: none;
}
@media screen and (max-width: 960px) {
  /* line 962, ../sass/main.sass */
  .st-menu form input.form-control, .st-menu form textarea.form-control {
    font-size: 1.11111em;
  }
}
/* line 979, ../sass/main.sass */
.st-menu form input.form-control.error, .st-menu form textarea.form-control.error {
  border-bottom: red solid 1px;
}
/* line 981, ../sass/main.sass */
.st-menu form input.form-control:focus, .st-menu form textarea.form-control:focus {
  outline: 0;
  box-shadow: none;
}
/* line 984, ../sass/main.sass */
.st-menu form input.form-control::-webkit-input-placeholder, .st-menu form textarea.form-control::-webkit-input-placeholder {
  color: #fff;
}
/* line 986, ../sass/main.sass */
.st-menu form input.form-control:-moz-placeholder, .st-menu form textarea.form-control:-moz-placeholder {
  color: #fff;
}
/* line 988, ../sass/main.sass */
.st-menu form input.form-control::-moz-placeholder, .st-menu form textarea.form-control::-moz-placeholder {
  color: #fff;
}
/* line 990, ../sass/main.sass */
.st-menu form input.form-control:-ms-input-placeholder, .st-menu form textarea.form-control:-ms-input-placeholder {
  color: #fff;
}
/* line 992, ../sass/main.sass */
.st-menu form button {
  border: 0;
  background: #000;
  font-size: 1em;
  color: #fff;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 960px) {
  /* line 992, ../sass/main.sass */
  .st-menu form button {
    font-size: 1.11111em;
  }
}
/* line 1001, ../sass/main.sass */
.st-menu form button:focus {
  outline: 0;
}
/* line 1003, ../sass/main.sass */
.st-menu.st-menu-news {
  -webkit-overflow-scrolling: touch;
  width: 67%;
  background: #fff;
}
@media screen and (max-width: 960px) {
  /* line 1003, ../sass/main.sass */
  .st-menu.st-menu-news {
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  /* line 1003, ../sass/main.sass */
  .st-menu.st-menu-news {
    width: 95%;
  }
}
/* line 1011, ../sass/main.sass */
.st-menu.st-menu-news h2 {
  font-size: 1.33333em;
  color: #000;
}
/* line 1014, ../sass/main.sass */
.st-menu.st-menu-news .logotip {
  margin-bottom: 30px;
}
/* line 1016, ../sass/main.sass */
.st-menu.st-menu-news .logotip img {
  width: 100%;
  max-width: 370px;
}
/* line 1019, ../sass/main.sass */
.st-menu.st-menu-news .wrap-head {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 430px;
  display: table;
}
/* line 1026, ../sass/main.sass */
.st-menu.st-menu-news .wrap-head .head {
  display: table-cell;
  vertical-align: bottom;
}
/* line 1029, ../sass/main.sass */
.st-menu.st-menu-news .wrap-head .head span.date {
  position: relative;
  color: #fff;
  font-size: 1.33333em;
  font-weight: bold;
  margin: 0px 80px 15px 80px;
  z-index: 3;
  display: inline-block;
}
@media screen and (max-width: 960px) {
  /* line 1029, ../sass/main.sass */
  .st-menu.st-menu-news .wrap-head .head span.date {
    margin: 0px 15px 15px 15px;
  }
}
/* line 1039, ../sass/main.sass */
.st-menu.st-menu-news .wrap-head .head h2 {
  position: relative;
  color: #fff;
  font-size: 2em;
  font-weight: bold;
  margin: 0px 80px 30px 80px;
  z-index: 3;
}
@media screen and (max-width: 960px) {
  /* line 1039, ../sass/main.sass */
  .st-menu.st-menu-news .wrap-head .head h2 {
    font-size: 0.77778em;
    margin: 0px 15px 45px 15px;
  }
}
/* line 1049, ../sass/main.sass */
.st-menu.st-menu-news h4 {
  color: #282828;
  font-size: 1em;
  line-height: 24px;
  margin-bottom: 24px;
}
/* line 1054, ../sass/main.sass */
.st-menu.st-menu-news p {
  color: #000;
  font-size: 14px;
  line-height: 1.5em;
}
/* line 1059, ../sass/main.sass */
.st-menu.st-menu-media {
  width: 50%;
  background: #fff;
}
@media screen and (max-width: 960px) {
  /* line 1059, ../sass/main.sass */
  .st-menu.st-menu-media {
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  /* line 1059, ../sass/main.sass */
  .st-menu.st-menu-media {
    width: 95%;
  }
}
/* line 1066, ../sass/main.sass */
.st-menu.st-menu-media h2 {
  font-size: 1.33333em;
  color: #000;
}
/* line 1069, ../sass/main.sass */
.st-menu.st-menu-media .wrap-head {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 200px;
  display: table;
}
@media screen and (max-width: 960px) {
  /* line 1069, ../sass/main.sass */
  .st-menu.st-menu-media .wrap-head {
    height: 175px;
  }
}
/* line 1078, ../sass/main.sass */
.st-menu.st-menu-media .wrap-head .head {
  display: table-cell;
  vertical-align: bottom;
}
/* line 1081, ../sass/main.sass */
.st-menu.st-menu-media .wrap-head .head h2 {
  position: relative;
  font-size: 1.33333em;
  color: #fff;
  margin: 0px 95px 45px 95px;
  z-index: 3;
  text-shadow: 0px 0px 5px #000;
}
/* line 1088, ../sass/main.sass */
.st-menu.st-menu-media h4 {
  color: #282828;
  font-size: 1.11111em;
  line-height: 24px;
  margin-bottom: 24px;
}
/* line 1093, ../sass/main.sass */
.st-menu.st-menu-media p {
  color: #000;
}
/* line 1096, ../sass/main.sass */
.st-menu.st-menu-media .video {
  position: relative;
  margin: 30px 0px;
}
/* line 1099, ../sass/main.sass */
.st-menu.st-menu-media .video .background {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 6px;
  z-index: 0;
}
/* line 1106, ../sass/main.sass */
.st-menu.st-menu-media .video a {
  display: block;
  width: 157px;
  height: 149px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
}
/* line 1117, ../sass/main.sass */
.st-menu.st-menu-media .video > img {
  width: 100%;
}
/* line 1120, ../sass/main.sass */
.st-menu.st-menu-media audio {
  margin: 30px 0px;
  max-width: 100%;
}
/* line 1124, ../sass/main.sass */
.st-menu.st-menu-media .gallery {
  position: relative;
  margin: 30px auto;
  padding: 0px 0px 18px 0px;
}
/* line 1128, ../sass/main.sass */
.st-menu.st-menu-media .gallery.group {
  margin-top: 19px;
}
/* line 1130, ../sass/main.sass */
.st-menu.st-menu-media .gallery .play {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
/* line 1136, ../sass/main.sass */
.st-menu.st-menu-media .gallery .play img {
  display: block;
  width: 269px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
/* line 1145, ../sass/main.sass */
.st-menu.st-menu-media .gallery img {
  width: 100%;
}
/* line 1147, ../sass/main.sass */
.st-menu.st-menu-media .gallery div {
  float: left;
  position: relative;
  width: 33.33%;
}
/* line 1151, ../sass/main.sass */
.st-menu.st-menu-media .gallery div a {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: #000;
  /* works for IE 5+. */
  filter: alpha(opacity=50);
  /* works for IE 8. */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  /* works for old school versions of the Mozilla browsers like Netscape Navigator. */
  -moz-opacity: 0.5;
  /* This is for old versions of Safari (1.x) with KHTML rendering engine */
  -khtml-opacity: 0.5;
  /* This is the "most important" one because it's the current standard in CSS. This will work in most versions of Firefox, Safari, and Opera. */
  opacity: 0.5;
  width: auto;
  z-index: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
/* line 1175, ../sass/main.sass */
.st-menu.st-menu-media .gallery div a.fancybox:hover {
  opacity: 0;
}

/* line 1181, ../sass/main.sass */
.st-menu > .close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: url("../images/cross.png") 0 0 no-repeat;
  background-size: contain;
  height: 1.44444em;
  width: 1.38889em;
  cursor: pointer;
  z-index: 3;
  opacity: 1;
}
@media screen and (max-width: 960px) {
  /* line 1181, ../sass/main.sass */
  .st-menu > .close {
    right: 15px;
  }
}
/* line 1195, ../sass/main.sass */
.st-menu > .close-black {
  display: none;
  background: url("../images/cross2.png") 0 0 no-repeat;
  background-size: contain;
}
/* line 1199, ../sass/main.sass */
.st-menu > .slider {
  height: 430px;
  margin: -40px -80px 30px -80px;
  z-index: 2;
}
@media screen and (max-width: 600px) {
  /* line 1199, ../sass/main.sass */
  .st-menu > .slider {
    margin: -40px -15px 15px -15px;
  }
}
/* line 1205, ../sass/main.sass */
.st-menu > .slider .wrap-slider {
  height: 430px;
}
/* line 1207, ../sass/main.sass */
.st-menu > .slider .wrap-slider .slide {
  height: 430px;
  opacity: 0.7;
}
/* line 1210, ../sass/main.sass */
.st-menu > .slider .slick-list {
  top: 0px;
}
/* line 1212, ../sass/main.sass */
.st-menu > .slider .slick-track {
  background: #000;
}
/* line 1214, ../sass/main.sass */
.st-menu > .slider .slick-prev, .st-menu > .slider .slick-next {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  font-size: 0;
  width: 17px;
  height: 25px;
  height: 25px;
  border: 0;
  z-index: 3;
}
/* line 1225, ../sass/main.sass */
.st-menu > .slider .slick-prev:before, .st-menu > .slider .slick-next:before {
  content: "";
}
/* line 1227, ../sass/main.sass */
.st-menu > .slider .slick-prev:focus, .st-menu > .slider .slick-next:focus {
  outline: 0;
}
/* line 1229, ../sass/main.sass */
.st-menu > .slider .slick-prev {
  display: none !important;
  background: url("../images/prev.png") 0 0 no-repeat;
  left: 10px;
}
/* line 1233, ../sass/main.sass */
.st-menu > .slider .slick-prev.bounce {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
/* line 1248, ../sass/main.sass */
.st-menu > .slider .slick-next {
  display: none !important;
  background: url("../images/next.png") 0 0 no-repeat;
  right: 10px;
}
/* line 1252, ../sass/main.sass */
.st-menu > .slider .slick-next.bounce {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
/* line 1267, ../sass/main.sass */
.st-menu > .slider .slick-dots {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 20px;
}
/* line 1272, ../sass/main.sass */
.st-menu > .slider .slick-dots li {
  display: inline-block;
  margin: 0px 5px;
}
/* line 1275, ../sass/main.sass */
.st-menu > .slider .slick-dots li button {
  height: 13px;
  width: 13px;
  font-size: 0;
  background: #fff;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
}
/* line 1283, ../sass/main.sass */
.st-menu > .slider .slick-dots li button:focus {
  outline: 0;
}
/* line 1286, ../sass/main.sass */
.st-menu > .slider .slick-dots li.slick-active button {
  background: red;
}

/* line 1289, ../sass/main.sass */
.st-menu {
  padding: 40px 80px;
}

/* line 1292, ../sass/main.sass */
#st-menu-nav {
  width: 50%;
}
/* line 1295, ../sass/main.sass */
#st-menu-nav a {
  display: block;
  font-size: 1.11111em;
  color: #fff;
  padding-bottom: 15px;
}
/* line 1300, ../sass/main.sass */
#st-menu-nav a.current {
  color: red;
}

@media screen and (max-width: 960px) {
  .st-menu {
    padding: 15px;
  }
  /* line 1304, ../sass/main.sass */
  .st-menu > .slider {
    margin: -40px -15px 30px -15px;
  }
}
@media screen and (max-width: 600px) {
  /* line 1307, ../sass/main.sass */
  .social-likes__icon {
    width: 21px;
    background-size: cover;
    background-position-y: 7px;
  }

  /* line 1311, ../sass/main.sass */
  .social-likes__widget {
    margin: 0;
  }

  /* line 1313, ../sass/main.sass */
  .social-likes__button {
    padding: 1px 10px 1px 21px;
  }

  /* line 1315, ../sass/main.sass */
  .social-likes__button, .social-likes__counter {
    font-size: 0.55556em;
    line-height: 31px;
  }
}
/* line 1320, ../sass/main.sass */
.st-menu .content {
  padding-bottom: 0px;
}

@media (max-width: 1200px) {
  /* line 1325, ../sass/main.sass */
  .nav-main ul {
    display: none;
  }
  /* line 1327, ../sass/main.sass */
  .nav-main a.logo {
    padding-left: 20px;
  }

  /* line 1329, ../sass/main.sass */
  .navbar-toggle {
    display: block;
  }

  /* line 1331, ../sass/main.sass */
  .navbar-toggle:focus {
    outline: 0;
  }
}
/* line 1334, ../sass/main.sass */
#st-menu-nav {
  width: 50%;
}

/* line 1336, ../sass/main.sass */
#st-menu-nav ul li {
  width: 100%;
  margin-left: 0px;
}

/* line 1339, ../sass/main.sass */
#st-menu-nav ul li a {
  font-size: 1em;
  padding-bottom: 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 0;
}

/* line 1345, ../sass/main.sass */
#st-menu-nav ul li a:focus {
  outline: 0;
}

/* line 1347, ../sass/main.sass */
#st-menu-nav ul li.current a,
#st-menu-nav ul li a.selected {
  color: red;
}

@media (max-width: 1024px) {
  /* line 1355, ../sass/main.sass */
  .main .slick-slider .slick-prev {
    display: none !important;
  }
  /* line 1357, ../sass/main.sass */
  .main .slick-slider .slick-next {
    display: none !important;
  }

  /* line 1359, ../sass/main.sass */
  .card__content {
    padding-top: 20px;
  }

  /* line 1361, ../sass/main.sass */
  .nav-main {
    height: 60px;
  }
  /* line 1365, ../sass/main.sass */
  .nav-main a.logo img {
    width: 177px;
    height: 66px;
  }

  /* line 1370, ../sass/main.sass */
  .directors .wrap-directors-list {
    padding: 0px 20px;
    margin-top: 80px;
  }
  /* line 1374, ../sass/main.sass */
  .directors .wrap-directors-list ul li {
    width: 50%;
  }

  /* line 1378, ../sass/main.sass */
  .text .content {
    padding: 20px;
  }

  .image-block {
      position: absolute;
      bottom: 0;
      color: #fff;
      padding: 20px;
      margin: 0 auto;
  }

  /* line 1383, ../sass/main.sass */
  .posts-block .hexagons > ul {
    padding: 35px 20px 40px;
  }
  /* line 1385, ../sass/main.sass */
  .posts-block .hexagons > ul > li {
    width: 50%;
  }
  /* line 1390, ../sass/main.sass */
  .posts-block .hexagons > ul > li .hexagon .wrap-companies .companies .wrap-company {
    width: 100%;
  }
  /* line 1392, ../sass/main.sass */
  .posts-block .hexagons > ul > li .hexagon .wrap-svg {
    max-height: 360px;
  }
  /* line 1394, ../sass/main.sass */
  .posts-block .hexagons > ul > li .hexagon .wrap-svg .nv-left {
    top: 60px;
  }
  /* line 1396, ../sass/main.sass */
  .posts-block .hexagons > ul > li .hexagon .wrap-svg .nv-right {
    top: 60px;
  }
  /* line 1399, ../sass/main.sass */
  .posts-block .hexagons > ul > li .hexagon .wrap-svg.wrap-svg-show .submenu {
    top: 60px;
  }
  /* line 1401, ../sass/main.sass */
  .posts-block .hexagons > ul > li .hexagon .wrap-svg.wrap-svg-show .submenu ul {
    display: none !important;
  }
  /* line 1403, ../sass/main.sass */
  .posts-block .hexagons > ul > li .hexagon .wrap-svg.wrap-svg-show .wrap-h1 {
    top: 60px;
    padding-top: 35px;
  }
  /* line 1406, ../sass/main.sass */
  .posts-block .hexagons > ul > li .hexagon .wrap-svg.wrap-svg-show .wrap-h1 p {
    width: 100%;
    line-height: 1em;
  }

  /* line 1411, ../sass/main.sass */
  .news-block .inner-news-block .wrap-news {
    padding: 80px 20px 70px 20px;
  }
  /* line 1415, ../sass/main.sass */
  .news-block .inner-news-block .wrap-news .news ul li {
    width: 50%;
  }

  /* line 1417, ../sass/main.sass */
  .form-block {
    width: 100%;
    border-right: 0px;
  }

  /* line 1420, ../sass/main.sass */
  .address {
    width: 100%;
  }

  /* line 1422, ../sass/main.sass */
  .container-contacts {
    top: 80px;
    bottom: auto;
    left: auto;
  }
  /* line 1426, ../sass/main.sass */
  .container-contacts .inner {
    margin: 0px 20px 20px 20px;
  }
}
@media (max-width: 768px) {
  /* line 1431, ../sass/main.sass */
  .main .sticker {
    width: 85% !important;
  }
}
@media (max-width: 600px) {
  /* line 1435, ../sass/main.sass */
  .card__content {
    padding-left: 40px;
    padding-right: 40px;
  }

  /* line 1438, ../sass/main.sass */
  .card__image {
    max-height: 260px;
  }

  /* line 1441, ../sass/main.sass */
  .text .image-block {
      position: relative;
    height: 260px;
  }

  /* line 1446, ../sass/main.sass */
  #st-menu-nav ul li a {
    line-height: 18px;
  }

  /* line 1455, ../sass/main.sass */
  .posts-block .hexagons > ul > li .hexagon .wrap-companies .companies .wrap-company {
    margin-bottom: 20px;
  }
  /* line 1457, ../sass/main.sass */
  .posts-block .hexagons > ul > li .hexagon .wrap-svg {
    max-height: 260px;
  }
  /* line 1459, ../sass/main.sass */
  .posts-block .hexagons > ul > li .hexagon .wrap-svg .nv-left {
    width: 45px;
  }
  /* line 1461, ../sass/main.sass */
  .posts-block .hexagons > ul > li .hexagon .wrap-svg .nv-left .inner {
    background: url("../images/prev.png") 0 0 no-repeat;
    background-size: cover;
    width: 15px;
    height: 23px;
    margin: auto 15px;
  }
  /* line 1467, ../sass/main.sass */
  .posts-block .hexagons > ul > li .hexagon .wrap-svg .nv-right {
    width: 45px;
  }
  /* line 1469, ../sass/main.sass */
  .posts-block .hexagons > ul > li .hexagon .wrap-svg .nv-right .inner {
    background: url("../images/next.png") 0 0 no-repeat;
    background-size: cover;
    width: 15px;
    height: 23px;
    margin: auto 15px;
  }
  /* line 1476, ../sass/main.sass */
  .posts-block .hexagons > ul > li .hexagon .wrap-svg.wrap-svg-show .wrap-h1 {
    padding: 20px 40px;
    overflow-y: auto;
  }
  /* line 1479, ../sass/main.sass */
  .posts-block .hexagons > ul > li .hexagon .wrap-svg.wrap-svg-show .wrap-h1 h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  /* line 1482, ../sass/main.sass */
  .posts-block .hexagons > ul > li .hexagon .wrap-svg.wrap-svg-show .wrap-h1 p {
    line-height: 15px;
  }

  /* line 1484, ../sass/main.sass */
  .card {
    padding-bottom: 0px;
  }

  /* line 1486, ../sass/main.sass */
  form {
    margin: 0px 20px;
  }

  /* line 1488, ../sass/main.sass */
  input {
    width: 100%;
  }

  /* line 1490, ../sass/main.sass */
  input[type='submit'], button[type='submit'] {
    margin: 30px 0px 0px 0px;
  }

  /* line 1493, ../sass/main.sass */
  .address .wrap {
    padding-left: 20px;
  }

  /* line 1496, ../sass/main.sass */
  .container-contacts .inner {
    padding-top: 0px;
    padding-bottom: 10px;
  }

  /* line 1502, ../sass/main.sass */
  .directors .wrap-directors-list ul li {
    width: 100%;
  }

  /* line 1507, ../sass/main.sass */
  .posts-block .hexagons > ul > li {
    width: 100%;
  }

  /* line 1514, ../sass/main.sass */
  .news-block .inner-news-block .wrap-news .news ul li {
    width: 100%;
  }

  /* line 1517, ../sass/main.sass */
  .main .sticker {
    height: 100% !important;
    top: 130px;
    bottom: 0px;
    left: 15px;
    right: 15px;
  }
  /* line 1523, ../sass/main.sass */
  .main .sticker h2 {
    font-size: 1.66667em;
  }
  /* line 1525, ../sass/main.sass */
  .main .sticker p {
    line-height: 1.2em;
  }
  /* line 1527, ../sass/main.sass */
  .main .sticker .wrap {
    padding: 30px;
  }
  /* line 1529, ../sass/main.sass */
  .main .icon-arrow {
    bottom: 15px;
    height: 15px;
    width: 23px;
    background: url(../images/icon-arrow.png) 0 0 no-repeat;
    background-size: cover;
  }
  /* line 1536, ../sass/main.sass */
  .main .slick-slider .slick-prev {
    width: 15px;
    height: 23px;
    left: 15px;
    background: url(../images/prev.png) center center no-repeat;
    background-size: cover;
  }
  /* line 1542, ../sass/main.sass */
  .main .slick-slider .slick-next {
    width: 15px;
    height: 23px;
    right: 15px;
    background: url(../images/next.png) center center no-repeat;
    background-size: cover;
  }
}

#kontakty {
      position: relative;
    min-height: 100%;
    background: url('/uploads/background/shutterstock_153758471_small.jpg') center center no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -pie-background: url('/uploads/background/shutterstock_153758471_small.jpg') no-repeat center center / cover;
    -ms-behavior: url("/bundles/sitemain/css/backgroundsize.min.htc");
}

.g-recaptcha {
    width: 75%;
    margin-top: 20px;
    text-align: center;
}

.g-recaptcha > div {
    display: inline-block;
}