@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700italic,800,800italic,700,300italic,300&subset=latin,cyrillic-ext);
/* line 5, ../../../../lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "icons";
  src: url("../fonts/icons-ad36ed4fd094ca1e370bbdc0022f2d56.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "consola";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/consola.ttf") format("ttf");
}
@font-face {
  font-family: "consolab";
  src: url("../fonts/consolab.ttf") format("ttf");
}
@font-face {
  font-family: "consolai";
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/consolai.ttf") format("ttf");
}
@font-face {
  font-family: "consolaz";
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/consolaz.ttf") format("ttf");
}
/* line 36, ../sass/main.sass */
html, body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

/* line 41, ../sass/main.sass */
body {
  background: #000;
  overflow: hidden;
  font-size: 18px;
}

/* line 49, ../sass/main.sass */
a:focus {
  outline: 0;
}

/* line 52, ../sass/main.sass */
.revealOnScroll {
  opacity: 0;
}

/* line 55, ../sass/main.sass */
.page {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
/* line 60, ../sass/main.sass */
.page#kontakty {
  background-color: #e4e8e8;
}

/* line 63, ../sass/main.sass */
.main {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
/* line 68, ../sass/main.sass */
.main .icon-arrow {
  position: absolute;
  display: block;
  bottom: 25px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  height: 28px;
  width: 43px;
  background: url("../images/icon-arrow.png") 0 0 no-repeat;
  cursor: pointer !important;
}
/* line 79, ../sass/main.sass */
.main .wrap-sticker {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
/* line 84, ../sass/main.sass */
.main .sticker {
  position: absolute;
  background: none;
  width: 50% !important;
  height: 300px !important;
  top: 90px;
  bottom: 0px;
  right: 40px;
  margin: auto 0;
}
/* line 93, ../sass/main.sass */
.main .sticker .wrap {
  width: auto !important;
  height: auto !important;
  padding: 45px;
}
/* line 97, ../sass/main.sass */
.main .sticker h2 {
  color: #fff;
  font-family: "Arial";
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-shadow: rgba(0, 0, 0, 0.38) 2px 0px 4px, rgba(0, 0, 0, 0.38) 2px 0px 4px, rgba(0, 0, 0, 0.38) 2px 0px 4px;
}
/* line 105, ../sass/main.sass */
.main .sticker p {
  color: #fff;
  font-family: "Arial";
  font-size: 18px;
  line-height: 30px;
  text-shadow: rgba(0, 0, 0, 0.38) 2px 0px 4px, rgba(0, 0, 0, 0.38) 2px 0px 4px, rgba(0, 0, 0, 0.38) 2px 0px 4px;
}
/* line 111, ../sass/main.sass */
.main .slick-slider {
  height: 100%;
}
/* line 113, ../sass/main.sass */
.main .slick-slider .slick-next {
  position: absolute;
  width: 28px;
  height: 43px;
  right: 25px;
  background: url(../images/next.png) center center no-repeat;
  font-size: 0;
}
/* line 120, ../sass/main.sass */
.main .slick-slider .slick-next:before {
  content: "";
}
/* line 122, ../sass/main.sass */
.main .slick-slider .slick-prev {
  position: absolute;
  width: 28px;
  height: 43px;
  left: 25px;
  background: url(../images/prev.png) center center no-repeat;
  font-size: 0;
  z-index: 1;
}
/* line 130, ../sass/main.sass */
.main .slick-slider .slick-prev:before {
  content: "";
}

/* line 133, ../sass/main.sass */
.nav-main {
  position: fixed;
  height: 90px;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  z-index: 1000;
}
/* line 140, ../sass/main.sass */
.nav-main a.logo {
  display: table-cell;
  vertical-align: top;
  padding-left: 115px;
}
/* line 144, ../sass/main.sass */
.nav-main a.logo img {
  width: auto !important;
  visibility: visible !important;
}
/* line 147, ../sass/main.sass */
.nav-main a.search {
  display: table-cell;
  vertical-align: top;
}
/* line 150, ../sass/main.sass */
.nav-main a.search span {
  display: inline-block;
  background: url("../images/icon-search.png") center center no-repeat;
  width: 95px;
  height: 95px;
  vertical-align: top;
}
/* line 156, ../sass/main.sass */
.nav-main ul {
  display: table-cell;
  margin: 0 auto;
  width: 100%;
  height: 90px;
  line-height: 90px;
  text-align: justify;
  vertical-align: top;
  padding: 0px 115px 0px 85px;
}
/* line 165, ../sass/main.sass */
.nav-main ul li {
  display: inline-block;
}
/* line 167, ../sass/main.sass */
.nav-main ul li a {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 173, ../sass/main.sass */
.nav-main ul li a:hover {
  color: #3eb5f1;
}
/* line 176, ../sass/main.sass */
.nav-main ul li.current a {
  color: #3eb5f1;
}
/* line 178, ../sass/main.sass */
.nav-main ul:after {
  display: inline-block;
  width: 100%;
  content: "";
}

/* line 183, ../sass/main.sass */
.directors {
  position: relative;
  min-height: 100%;
  width: 100%;
  top: 0px;
  background: #e8e8e8;
  overflow: hidden;
}
/* line 190, ../sass/main.sass */
.directors .wrap-directors-list {
  margin-top: 110px;
  padding: 0px 115px;
}
/* line 193, ../sass/main.sass */
.directors .wrap-directors-list ul {
  font-size: 0;
  margin: 0 -10px;
}
/* line 196, ../sass/main.sass */
.directors .wrap-directors-list ul li {
  display: inline-block;
  width: 20%;
}
/* line 199, ../sass/main.sass */
.directors .wrap-directors-list ul li a.inner {
  display: block;
  text-decoration: none;
  padding: 0px 10px;
}
/* line 203, ../sass/main.sass */
.directors .wrap-directors-list ul li a.inner .block-image {
  height: 328px;
  width: 100%;
}
/* line 207, ../sass/main.sass */
.directors .wrap-directors-list ul li a.inner .block-content .block-title {
  color: #000;
  font-family: "Arial";
  font-size: 21px;
  font-weight: bold;
  border-bottom: #a2a2a2 solid 2px;
  padding: 19px 0px 13px 0px;
}
/* line 214, ../sass/main.sass */
.directors .wrap-directors-list ul li a.inner .block-content .block-info {
  color: #1d6887;
  font-family: "Arial";
  font-size: 21px;
  font-weight: bold;
  padding: 11px 0px;
}

/* line 221, ../sass/main.sass */
.posts-block {
  padding-top: 45px;
}
/* line 223, ../sass/main.sass */
.posts-block.bg-posts-block {
  background: #e4e8e8;
}
/* line 225, ../sass/main.sass */
.posts-block.bg-none-posts-block {
  background: none;
}
/* line 227, ../sass/main.sass */
.posts-block .slide {
  position: relative;
  padding: 310px 85px 75px 85px;
}
/* line 230, ../sass/main.sass */
.posts-block .slide .submenu {
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  margin: 0px -85px;
  top: 0;
}
/* line 236, ../sass/main.sass */
.posts-block .slide .submenu ul {
  height: 95px;
  padding: 0px 85px;
  text-align: justify;
  line-height: 95px;
}
/* line 241, ../sass/main.sass */
.posts-block .slide .submenu ul:after {
  content: "";
  display: inline-block;
  width: 100%;
}
/* line 245, ../sass/main.sass */
.posts-block .slide .submenu ul li {
  display: inline-block;
  vertical-align: middle;
}
/* line 248, ../sass/main.sass */
.posts-block .slide .submenu ul li a {
  color: #fff;
  font-family: "Arial";
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 256, ../sass/main.sass */
.posts-block .slide h1 {
  color: #fff;
  font-family: "Arial";
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 262, ../sass/main.sass */
.posts-block .hexagons {
  position: relative;
  font-size: 0;
  bottom: 0;
  width: 100%;
}
/* line 267, ../sass/main.sass */
.posts-block .hexagons.bg-none {
  background: none;
}
/* line 269, ../sass/main.sass */
.posts-block .hexagons > ul {
  padding: 80px 115px 40px;
  margin: 0 -20px;
  font-size: 0;
}
/* line 273, ../sass/main.sass */
.posts-block .hexagons > ul > li {
  position: relative;
  display: inline-block;
  width: 33.33%;
  vertical-align: top;
  z-index: 1;
}
/* line 279, ../sass/main.sass */
.posts-block .hexagons > ul > li .wrap {
  position: relative;
  padding: 0 20px 40px;
}
/* line 283, ../sass/main.sass */
.posts-block .hexagons > ul > li .info h5 {
  font-size: 16px;
  line-height: 1;
  font-family: "lr_ot4", "arial", "helvetica", sans-serif;
  font-weight: 700;
  text-align: left;
  padding: 1px 0;
  margin-bottom: 22px;
  color: #0c121c;
  -webkit-font-smoothing: subpixel-antialiased;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
/* line 295, ../sass/main.sass */
.posts-block .hexagons > ul > li .info p {
  font-size: 14px;
  color: #0c121c;
}
/* line 298, ../sass/main.sass */
.posts-block .hexagons > ul > li .info a {
  color: #898c8f;
  margin-top: 24px;
  display: inline-block;
  position: relative;
  margin-top: 20px;
  padding-left: 18px;
  line-height: 1.25;
  font-weight: bold;
  font-size: 10px;
  letter-spacing: 0.25em;
  text-decoration: none;
  border: 0;
  overflow: hidden;
  -webkit-transition: color 0.4s, text-shadow 0.4s;
  -webkit-transition-delay: 0s, 0s;
  -moz-transition: color 0.4s, text-shadow 0.4s;
  -o-transition: color 0.4s, text-shadow 0.4s;
  transition: color 0.4s, text-shadow 0.4s;
  text-transform: uppercase;
}
/* line 318, ../sass/main.sass */
.posts-block .hexagons > ul > li .info a:before {
  content: "";
  position: absolute;
  top: 1px;
  left: -4px;
}
/* line 323, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon {
  position: relative;
  float: left;
  margin: 0px auto 33px auto;
  width: 100%;
  height: 100%;
  z-index: 1;
  /* Text styling */
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: color 500ms ease, text-shadow 500ms ease;
}
/* line 339, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-companies .companies {
  font-size: 0;
  margin: 0px -90px;
  text-align: left;
}
/* line 343, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-companies .companies .wrap-company {
  display: inline-block;
  width: 50%;
  margin-bottom: 70px;
}
/* line 347, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-companies .companies .wrap-company .company {
  font-size: 0;
  padding: 0px 75px;
}
/* line 350, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-companies .companies .wrap-company .company .image {
  display: inline-block;
  width: 30%;
}
/* line 353, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-companies .companies .wrap-company .company .image img {
  width: 100%;
  visibility: visible !important;
}
/* line 356, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-companies .companies .wrap-company .company .info {
  display: inline-block !important;
  width: 100%;
  text-align: left;
  vertical-align: top;
}
/* line 361, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-companies .companies .wrap-company .company .info h2 {
  font-family: "Arial";
  font-size: 24px;
  font-weight: bold;
  color: #3eb5f1;
  padding-left: 15px;
  margin-bottom: 30px;
}
/* line 368, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-companies .companies .wrap-company .company .info p {
  font-size: 18px;
  font-weight: 600;
  color: #000;
  padding-left: 15px;
  margin-bottom: 30px;
}
/* line 374, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-svg {
  position: relative;
  height: 100%;
  width: 100%;
  max-height: 560px;
}
/* line 379, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-svg .nv-left {
  position: absolute;
  background: url("../images/prev.png") 0 0 no-repeat;
  width: 28px;
  height: 43px;
  top: 160px;
  bottom: 0;
  margin: auto 30px;
  display: none;
}
/* line 388, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-svg .nv-right {
  position: absolute;
  background: url("../images/next.png") 0 0 no-repeat;
  width: 28px;
  height: 43px;
  top: 160px;
  right: 0;
  bottom: 0;
  margin: auto 30px;
  display: none;
}
/* line 398, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-svg .submenu {
  display: none;
}
/* line 400, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-svg h1 {
  display: none;
}
/* line 402, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-svg p {
  display: none;
}
/* line 405, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-svg.wrap-svg-show .nv-left, .posts-block .hexagons > ul > li .hexagon .wrap-svg.wrap-svg-show .nv-right {
  display: block;
}
/* line 407, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-svg.wrap-svg-show .submenu {
  position: absolute;
  width: 100%;
  background: black;
  top: 90px;
  display: block;
}
/* line 413, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-svg.wrap-svg-show .submenu ul {
  height: 70px;
  padding: 0px 115px;
  text-align: justify;
  line-height: 70px;
}
/* line 418, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-svg.wrap-svg-show .submenu ul:after {
  content: "";
  display: inline-block;
  width: 100%;
}
/* line 422, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-svg.wrap-svg-show .submenu ul li {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  width: auto;
}
/* line 427, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-svg.wrap-svg-show .submenu ul li a {
  color: #fff;
  font-family: "Arial";
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 434, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-svg.wrap-svg-show .submenu ul li a.current, .posts-block .hexagons > ul > li .hexagon .wrap-svg.wrap-svg-show .submenu ul li a:hover {
  color: #3eb5f1;
}
/* line 436, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-svg.wrap-svg-show .wrap-h1 {
  position: absolute;
  top: 160px;
  bottom: 0px;
  left: 0;
  right: 0;
  padding: 75px 115px 35px 115px;
  text-align: left;
  background: rgba(0, 0, 0, 0.2);
}
/* line 445, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-svg.wrap-svg-show .wrap-h1 h1 {
  color: #fff;
  font-family: "Arial";
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  text-shadow: rgba(0, 0, 0, 0.38) 2px 0px 4px, rgba(0, 0, 0, 0.38) 2px 0px 4px, rgba(0, 0, 0, 0.38) 2px 0px 4px;
  margin-bottom: 20px;
}
/* line 454, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-svg.wrap-svg-show .wrap-h1 p {
  width: 50%;
  color: #fff;
  font-family: "Arial";
  font-size: 18px;
  line-height: 30px;
  display: inline-block;
  text-shadow: rgba(0, 0, 0, 0.38) 2px 0px 4px, rgba(0, 0, 0, 0.38) 2px 0px 4px, rgba(0, 0, 0, 0.38) 2px 0px 4px;
}
/* line 463, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon img {
  width: 100%;
  visibility: hidden;
}
/* line 466, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .mediaOverlayIcon {
  position: absolute;
  right: 15px;
  bottom: 13px;
}
/* line 470, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .mediaOverlayIcon:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0;
  content: "";
  font-size: 22px;
}
/* line 489, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon:hover {
  color: #fff;
}
/* line 491, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .card__copy {
  font-size: 1.25em;
  max-width: 900px;
  margin: 0 auto;
  padding: 25px 30px 100px;
  color: #3b393d;
  text-align: left;
}
/* line 498, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .card__copy * {
  color: #3b393d;
  line-height: 1.5;
  font-size: 18px;
  font-weight: normal;
}
/* line 503, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .card__caption {
  font-size: 2em;
  max-width: 900px;
  margin: 0 auto;
  padding: 35px 30px 0px;
  text-align: left;
  visibility: hidden;
}
/* line 510, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .card__caption h2 {
  font-size: 1.5em;
  line-height: 1;
  margin: 5px 0 0 0;
  color: #3b393d;
}
/* line 515, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .card__caption p {
  font-size: 0.95em;
  line-height: 1;
  margin: 5px 0 0;
  color: #777778;
}
/* line 520, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .face1,
.posts-block .hexagons > ul > li .hexagon .face2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: inherit;
  z-index: -1;
  /* Keeps borders smooth in webkit */
  backface-visibility: hidden;
}
/* line 532, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .face1:before,
.posts-block .hexagons > ul > li .hexagon .face2:before {
  content: "";
  position: absolute;
  width: 220px;
  height: 220px;
  background: inherit;
}
/* line 539, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .face1 {
  transform: rotate(60deg);
}
/* line 541, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .face1:before {
  left: 0;
  transform-origin: left top;
  transform: rotate(-60deg) translate(-110px, 0);
}
/* line 545, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .face2 {
  transform: rotate(-60deg);
}
/* line 547, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .face2:before {
  right: 0;
  transform-origin: right top;
  transform: rotate(60deg) translate(110px, 0);
}

/* line 553, ../sass/main.sass */
.news-block {
  height: 100%;
  min-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
/* line 558, ../sass/main.sass */
.news-block .inner-news-block {
  background: #eee;
  min-height: 100%;
}
/* line 561, ../sass/main.sass */
.news-block .inner-news-block h2 {
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
  padding: 30px 0 50px 0;
}
/* line 566, ../sass/main.sass */
.news-block .inner-news-block .wrap-news {
  padding: 130px 115px 70px 115px;
  margin: 0 auto;
  background: #eee;
}
/* line 570, ../sass/main.sass */
.news-block .inner-news-block .wrap-news .news {
  margin: 0 -20px;
}
/* line 572, ../sass/main.sass */
.news-block .inner-news-block .wrap-news .news ul {
  font-size: 0;
}
/* line 574, ../sass/main.sass */
.news-block .inner-news-block .wrap-news .news ul li {
  display: inline-block;
  width: 33.33%;
  margin-bottom: 40px;
}
/* line 578, ../sass/main.sass */
.news-block .inner-news-block .wrap-news .news ul li .wrap {
  padding: 0px 20px;
}
/* line 580, ../sass/main.sass */
.news-block .inner-news-block .wrap-news .news ul li .wrap .image {
  margin-bottom: 24px;
}
/* line 582, ../sass/main.sass */
.news-block .inner-news-block .wrap-news .news ul li .wrap .image img {
  width: 100%;
}
/* line 584, ../sass/main.sass */
.news-block .inner-news-block .wrap-news .news ul li .wrap .head {
  color: #70ccf3;
  margin-bottom: 20px;
}
/* line 587, ../sass/main.sass */
.news-block .inner-news-block .wrap-news .news ul li .wrap .head span.first {
  font-size: 36px;
}
/* line 589, ../sass/main.sass */
.news-block .inner-news-block .wrap-news .news ul li .wrap .head span.second {
  font-size: 24px;
  padding-left: 8px;
  vertical-align: top;
}
/* line 593, ../sass/main.sass */
.news-block .inner-news-block .wrap-news .news ul li .wrap a.title {
  display: inline-block;
  font-size: 18px;
  color: #000;
  margin-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 601, ../sass/main.sass */
.news-block .inner-news-block .wrap-news .news ul li .wrap a.description {
  display: inline-block;
  font-size: 18px;
  color: #000;
  text-align: left;
  text-decoration: none;
}
/* line 607, ../sass/main.sass */
.news-block .inner-news-block .wrap-news .news ul li .wrap a.button {
  font-size: 18px;
  color: #000;
  border: #000 solid 1px;
  margin: 40px 0 0 0;
  float: left;
  padding: 9px 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 618, ../sass/main.sass */
.news-block .inner-news-block .all-news {
  float: right;
  color: #000;
  margin-top: 40px;
  text-decoration: none;
}

/* line 624, ../sass/main.sass */
.text {
  min-height: 100%;
  background-color: #ffffff;
}
/* line 628, ../sass/main.sass */
.text .image-block {
  height: 560px;
}
/* line 630, ../sass/main.sass */
.text .content {
  padding: 115px;
  margin: 0 auto;
}
/* line 633, ../sass/main.sass */
.text .content p {
  font-size: 1em;
  line-height: 1.5em;
  color: #000000;
}

/* line 639, ../sass/main.sass */
.CursorAnimateRotate {
  position: absolute;
  width: 100%;
  top: 0px;
  bottom: 0;
}

/*======================================== contacts =============== */
/* line 699, ../sass/main.sass */
.container-contacts {
  position: absolute;
  margin: auto;
  width: 100%;
  max-width: 1530px;
  height: 529px;
  top: 60px;
  bottom: 64px;
  left: -12px;
  right: 0px;
}

/* line 710, ../sass/main.sass */
.container-contacts .inner {
  margin: 0px 35px;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #fff;
}

/* line 716, ../sass/main.sass */
.form-block {
  display: inline-block;
  width: 50%;
  border-right: 1px solid #d2d2d2;
  height: 100%;
  margin-right: -1px;
}

/* line 723, ../sass/main.sass */
.form-caption {
  color: red;
  font-size: 24px;
  color: red;
  text-transform: uppercase;
  text-align: left;
  margin-top: 30px;
}

/* line 731, ../sass/main.sass */
.form-caption-main {
  color: red;
  font-size: 24px;
  color: red;
  text-transform: uppercase;
  text-align: left;
  margin-top: 30px;
  margin-left: 20px;
}

/* line 740, ../sass/main.sass */
form {
  margin-left: 77px;
}

/* line 743, ../sass/main.sass */
input {
  display: block;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  background: #fff;
  width: 75%;
  margin-top: 20px;
  overflow: hidden;
  font-size: 24px;
  padding-left: 20px;
  border-radius: 0px;
}
/* line 754, ../sass/main.sass */
input:focus {
  outline: 0;
}

/* line 757, ../sass/main.sass */
input[type='submit'],
button[type='submit'] {
  border: none;
  background: #99c45a;
  color: white;
  width: 170px;
  height: 47px;
  border-radius: 30px;
  text-align: center;
  display: block;
  text-transform: uppercase;
  font-size: 24px;
  cursor: pointer;
  margin-top: 60px;
  -ms-border-radius: 20px;
  -ms-behavior: url("/bundles/sitemain/css/pie.htc");
  margin-bottom: 80px;
  padding: 0;
  line-height: 50px;
  cursor: pointer;
}
/* line 777, ../sass/main.sass */
input[type='submit']:focus,
button[type='submit']:focus {
  outline: 0;
}

/* line 780, ../sass/main.sass */
.form-block input,
input[type='submit'],
button[type='submit'] {
  font-size: 20px;
}

/* line 785, ../sass/main.sass */
.form-block input::-webkit-input-placeholder {
  color: #000;
  font-size: 20px;
}

/* line 788, ../sass/main.sass */
.form-block input::-moz-placeholder {
  color: #000;
  font-size: 20px;
  opacity: 1;
}

/* line 792, ../sass/main.sass */
.form-block input:-moz-placeholder {
  color: #000;
  font-size: 20px;
  opacity: 1;
}

/* line 796, ../sass/main.sass */
.form-block input:-ms-input-placeholder {
  color: #000;
  font-size: 20px;
}

/* line 799, ../sass/main.sass */
.placeholder {
  color: #000;
}

/* line 801, ../sass/main.sass */
.address {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

/* line 805, ../sass/main.sass */
.address .wrap {
  padding-left: 77px;
}

/* line 807, ../sass/main.sass */
.address p {
  margin-top: 30px;
  display: block;
  font-size: 20px;
}

/* line 811, ../sass/main.sass */
.address a {
  text-decoration: none;
  color: #000;
}

/* line 815, ../sass/main.sass */
footer {
  background: #000;
  height: 130px;
}
