@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700italic,800,800italic,700,300italic,300&subset=latin,cyrillic-ext);
/* line 5, ../../../../lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "icons";
  src: url("../fonts/icons-ad36ed4fd094ca1e370bbdc0022f2d56.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "consola";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/consola.ttf") format("ttf");
}
@font-face {
  font-family: "consolab";
  src: url("../fonts/consolab.ttf") format("ttf");
}
@font-face {
  font-family: "consolai";
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/consolai.ttf") format("ttf");
}
@font-face {
  font-family: "consolaz";
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/consolaz.ttf") format("ttf");
}
/* line 36, ../sass/main.sass */
html, body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

/* line 41, ../sass/main.sass */
body {
  background: #000;
  overflow-x: hidden;
  font-size: 18px;
}

/* line 49, ../sass/main.sass */
.revealOnScroll {
  opacity: 0;
}

/* line 52, ../sass/main.sass */
.main {
  position: relative;
  height: 100%;
  width: 100%;
  top: -90px;
  margin-bottom: -90px;
  overflow: hidden;
}
/* line 59, ../sass/main.sass */
.main .icon-arrow {
  position: absolute;
  display: block;
  bottom: 25px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  height: 28px;
  width: 43px;
  background: url("../images/icon-arrow.png") 0 0 no-repeat;
  cursor: pointer !important;
}
/* line 70, ../sass/main.sass */
.main .wrap-sticker {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
/* line 75, ../sass/main.sass */
.main .sticker {
  position: absolute;
  background: none;
  width: 50% !important;
  height: 300px !important;
  top: 90px;
  bottom: 0px;
  right: 40px;
  margin: auto 0;
}
/* line 84, ../sass/main.sass */
.main .sticker .wrap {
  width: auto !important;
  height: auto !important;
  padding: 45px;
}
/* line 88, ../sass/main.sass */
.main .sticker h2 {
  color: #fff;
  font-family: "Arial";
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-shadow: rgba(0, 0, 0, 0.38) 2px 0px 4px, rgba(0, 0, 0, 0.38) 2px 0px 4px, rgba(0, 0, 0, 0.38) 2px 0px 4px;
}
/* line 96, ../sass/main.sass */
.main .sticker p {
  color: #fff;
  font-family: "Arial";
  font-size: 18px;
  line-height: 30px;
  text-shadow: rgba(0, 0, 0, 0.38) 2px 0px 4px, rgba(0, 0, 0, 0.38) 2px 0px 4px, rgba(0, 0, 0, 0.38) 2px 0px 4px;
}
/* line 102, ../sass/main.sass */
.main .slick-slider {
  height: 100%;
}
/* line 104, ../sass/main.sass */
.main .slick-slider .slick-next {
  position: absolute;
  width: 28px;
  height: 43px;
  right: 25px;
  background: url(../images/next.png) center center no-repeat;
  font-size: 0;
}
/* line 111, ../sass/main.sass */
.main .slick-slider .slick-next:before {
  content: "";
}
/* line 113, ../sass/main.sass */
.main .slick-slider .slick-prev {
  position: absolute;
  width: 28px;
  height: 43px;
  left: 25px;
  background: url(../images/prev.png) center center no-repeat;
  font-size: 0;
  z-index: 1;
}
/* line 121, ../sass/main.sass */
.main .slick-slider .slick-prev:before {
  content: "";
}

/* line 124, ../sass/main.sass */
.nav-main {
  position: relative;
  height: 90px;
  background: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  z-index: 1;
}
/* line 130, ../sass/main.sass */
.nav-main a.logo {
  display: table-cell;
  vertical-align: top;
  padding-left: 115px;
}
/* line 134, ../sass/main.sass */
.nav-main a.logo img {
  width: auto !important;
  visibility: visible !important;
}
/* line 137, ../sass/main.sass */
.nav-main a.search {
  display: table-cell;
  vertical-align: top;
}
/* line 140, ../sass/main.sass */
.nav-main a.search span {
  display: inline-block;
  background: url("../images/icon-search.png") center center no-repeat;
  width: 95px;
  height: 95px;
  vertical-align: top;
}
/* line 146, ../sass/main.sass */
.nav-main ul {
  display: table-cell;
  margin: 0 auto;
  width: 100%;
  height: 90px;
  line-height: 90px;
  text-align: justify;
  vertical-align: top;
  padding: 0px 115px 0px 85px;
}
/* line 155, ../sass/main.sass */
.nav-main ul li {
  display: inline-block;
}
/* line 157, ../sass/main.sass */
.nav-main ul li a {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 163, ../sass/main.sass */
.nav-main ul li a:hover {
  color: #3eb5f1;
}
/* line 166, ../sass/main.sass */
.nav-main ul li.current a {
  color: #3eb5f1;
}
/* line 168, ../sass/main.sass */
.nav-main ul:after {
  display: inline-block;
  width: 100%;
  content: "";
}

/* line 173, ../sass/main.sass */
.directors {
  position: relative;
  min-height: 100%;
  width: 100%;
  top: 0px;
  background: #e8e8e8;
  overflow: hidden;
}
/* line 180, ../sass/main.sass */
.directors .wrap-directors-list {
  margin-top: 40px;
  padding: 0px 115px;
}
/* line 183, ../sass/main.sass */
.directors .wrap-directors-list ul {
  font-size: 0;
  margin: 0 -10px;
}
/* line 186, ../sass/main.sass */
.directors .wrap-directors-list ul li {
  display: inline-block;
  width: 20%;
}
/* line 189, ../sass/main.sass */
.directors .wrap-directors-list ul li a.inner {
  display: block;
  text-decoration: none;
  padding: 0px 10px;
}
/* line 193, ../sass/main.sass */
.directors .wrap-directors-list ul li a.inner .block-image {
  height: 328px;
  width: 100%;
}
/* line 197, ../sass/main.sass */
.directors .wrap-directors-list ul li a.inner .block-content .block-title {
  color: #000;
  font-family: "Arial";
  font-size: 21px;
  font-weight: bold;
  border-bottom: #a2a2a2 solid 2px;
  padding: 19px 0px 13px 0px;
}
/* line 204, ../sass/main.sass */
.directors .wrap-directors-list ul li a.inner .block-content .block-info {
  color: #1d6887;
  font-family: "Arial";
  font-size: 21px;
  font-weight: bold;
  padding: 11px 0px;
}

/* line 212, ../sass/main.sass */
.posts-block.bg-posts-block {
  background: #e4e8e8;
}
/* line 214, ../sass/main.sass */
.posts-block.bg-none-posts-block {
  background: none;
}
/* line 216, ../sass/main.sass */
.posts-block .slide {
  position: relative;
  padding: 310px 85px 75px 85px;
}
/* line 219, ../sass/main.sass */
.posts-block .slide .submenu {
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  margin: 0px -85px;
  top: 0;
}
/* line 225, ../sass/main.sass */
.posts-block .slide .submenu ul {
  height: 95px;
  padding: 0px 85px;
  text-align: justify;
  line-height: 95px;
}
/* line 230, ../sass/main.sass */
.posts-block .slide .submenu ul:after {
  content: "";
  display: inline-block;
  width: 100%;
}
/* line 234, ../sass/main.sass */
.posts-block .slide .submenu ul li {
  display: inline-block;
  vertical-align: middle;
}
/* line 237, ../sass/main.sass */
.posts-block .slide .submenu ul li a {
  color: #fff;
  font-family: "Arial";
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 245, ../sass/main.sass */
.posts-block .slide h1 {
  color: #fff;
  font-family: "Arial";
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 251, ../sass/main.sass */
.posts-block .hexagons {
  position: relative;
  font-size: 0;
  bottom: 0;
  width: 100%;
}
/* line 256, ../sass/main.sass */
.posts-block .hexagons.bg-none {
  background: none;
}
/* line 258, ../sass/main.sass */
.posts-block .hexagons > ul {
  padding: 80px 115px 40px;
  margin: 0 -20px;
  font-size: 0;
}
/* line 262, ../sass/main.sass */
.posts-block .hexagons > ul > li {
  display: inline-block;
  width: 33.33%;
  vertical-align: top;
}
/* line 266, ../sass/main.sass */
.posts-block .hexagons > ul > li .wrap {
  position: relative;
  padding: 0 20px 40px;
}
/* line 270, ../sass/main.sass */
.posts-block .hexagons > ul > li .info h5 {
  font-size: 16px;
  line-height: 1;
  font-family: "lr_ot4", "arial", "helvetica", sans-serif;
  font-weight: 700;
  text-align: left;
  padding: 1px 0;
  margin-bottom: 22px;
  color: #0c121c;
  -webkit-font-smoothing: subpixel-antialiased;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
/* line 282, ../sass/main.sass */
.posts-block .hexagons > ul > li .info p {
  font-size: 14px;
  color: #0c121c;
}
/* line 285, ../sass/main.sass */
.posts-block .hexagons > ul > li .info a {
  color: #898c8f;
  margin-top: 24px;
  display: inline-block;
  position: relative;
  margin-top: 20px;
  padding-left: 18px;
  line-height: 1.25;
  font-weight: bold;
  font-size: 10px;
  letter-spacing: 0.25em;
  text-decoration: none;
  border: 0;
  overflow: hidden;
  -webkit-transition: color 0.4s, text-shadow 0.4s;
  -webkit-transition-delay: 0s, 0s;
  -moz-transition: color 0.4s, text-shadow 0.4s;
  -o-transition: color 0.4s, text-shadow 0.4s;
  transition: color 0.4s, text-shadow 0.4s;
  text-transform: uppercase;
}
/* line 305, ../sass/main.sass */
.posts-block .hexagons > ul > li .info a:before {
  content: "";
  position: absolute;
  top: 1px;
  left: -4px;
}
/* line 310, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon {
  position: relative;
  float: left;
  margin: 0px auto 33px auto;
  width: 100%;
  height: 100%;
  z-index: 1;
  /* Text styling */
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: color 500ms ease, text-shadow 500ms ease;
}
/* line 326, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-companies .companies {
  font-size: 0;
  margin: 0px -90px;
  text-align: left;
}
/* line 330, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-companies .companies .wrap-company {
  display: inline-block;
  width: 50%;
  margin-bottom: 70px;
}
/* line 334, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-companies .companies .wrap-company .company {
  font-size: 0;
  padding: 0px 75px;
}
/* line 337, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-companies .companies .wrap-company .company .image {
  display: inline-block;
  width: 30%;
}
/* line 340, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-companies .companies .wrap-company .company .image img {
  width: 100%;
  visibility: visible !important;
}
/* line 343, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-companies .companies .wrap-company .company .info {
  display: inline-block !important;
  width: 70%;
  text-align: left;
  vertical-align: top;
}
/* line 348, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-companies .companies .wrap-company .company .info h2 {
  font-family: "Arial";
  font-size: 24px;
  font-weight: bold;
  color: #3eb5f1;
  padding-left: 15px;
  margin-bottom: 30px;
}
/* line 355, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-companies .companies .wrap-company .company .info p {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  padding-left: 15px;
}
/* line 360, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-svg {
  position: relative;
  height: 100%;
  width: 100%;
  max-height: 560px;
}
/* line 365, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-svg .nv-left {
  position: absolute;
  background: url("../images/prev.png") 0 0 no-repeat;
  width: 28px;
  height: 43px;
  top: 180px;
  bottom: 0;
  margin: auto 30px;
  display: none;
}
/* line 374, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-svg .nv-right {
  position: absolute;
  background: url("../images/next.png") 0 0 no-repeat;
  width: 28px;
  height: 43px;
  top: 180px;
  right: 0;
  bottom: 0;
  margin: auto 30px;
  display: none;
}
/* line 384, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-svg .submenu {
  display: none;
}
/* line 386, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-svg h1 {
  display: none;
}
/* line 388, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-svg p {
  display: none;
}
/* line 391, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-svg.wrap-svg-show .nv-left, .posts-block .hexagons > ul > li .hexagon .wrap-svg.wrap-svg-show .nv-right {
  display: block;
}
/* line 393, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-svg.wrap-svg-show .submenu {
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0.46);
  top: 90px;
  display: block;
}
/* line 399, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-svg.wrap-svg-show .submenu ul {
  height: 90px;
  padding: 0px 115px;
  text-align: justify;
  line-height: 90px;
}
/* line 404, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-svg.wrap-svg-show .submenu ul:after {
  content: "";
  display: inline-block;
  width: 100%;
}
/* line 408, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-svg.wrap-svg-show .submenu ul li {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  width: auto;
}
/* line 413, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-svg.wrap-svg-show .submenu ul li a {
  color: #fff;
  font-family: "Arial";
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 420, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-svg.wrap-svg-show .submenu ul li a.current, .posts-block .hexagons > ul > li .hexagon .wrap-svg.wrap-svg-show .submenu ul li a:hover {
  color: #3eb5f1;
}
/* line 422, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-svg.wrap-svg-show .wrap-h1 {
  position: absolute;
  top: 180px;
  left: 0;
  right: 0;
  padding: 75px 115px 35px 115px;
  text-align: left;
  background: rgba(0, 0, 0, 0.2);
}
/* line 430, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-svg.wrap-svg-show .wrap-h1 h1 {
  color: #fff;
  font-family: "Arial";
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  text-shadow: rgba(0, 0, 0, 0.38) 2px 0px 4px, rgba(0, 0, 0, 0.38) 2px 0px 4px, rgba(0, 0, 0, 0.38) 2px 0px 4px;
  margin-bottom: 20px;
}
/* line 439, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .wrap-svg.wrap-svg-show .wrap-h1 p {
  width: 50%;
  color: #fff;
  font-family: "Arial";
  font-size: 18px;
  line-height: 30px;
  display: inline-block;
  text-shadow: rgba(0, 0, 0, 0.38) 2px 0px 4px, rgba(0, 0, 0, 0.38) 2px 0px 4px, rgba(0, 0, 0, 0.38) 2px 0px 4px;
}
/* line 448, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon img {
  width: 100%;
  visibility: hidden;
}
/* line 451, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .mediaOverlayIcon {
  position: absolute;
  right: 15px;
  bottom: 13px;
}
/* line 455, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .mediaOverlayIcon:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0;
  content: "";
  font-size: 22px;
}
/* line 474, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon:hover {
  color: #fff;
}
/* line 476, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .card__copy {
  font-size: 1.25em;
  max-width: 900px;
  margin: 0 auto;
  padding: 25px 30px 100px;
  color: #3b393d;
  text-align: left;
}
/* line 483, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .card__copy * {
  color: #3b393d;
  line-height: 1.5;
  font-size: 18px;
  font-weight: normal;
}
/* line 488, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .card__caption {
  font-size: 2em;
  max-width: 900px;
  margin: 0 auto;
  padding: 35px 30px 0px;
  text-align: left;
  visibility: hidden;
}
/* line 495, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .card__caption h2 {
  font-size: 1.5em;
  line-height: 1;
  margin: 5px 0 0 0;
  color: #3b393d;
}
/* line 500, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .card__caption p {
  font-size: 0.95em;
  line-height: 1;
  margin: 5px 0 0;
  color: #777778;
}
/* line 505, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .face1,
.posts-block .hexagons > ul > li .hexagon .face2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: inherit;
  z-index: -1;
  /* Keeps borders smooth in webkit */
  backface-visibility: hidden;
}
/* line 517, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .face1:before,
.posts-block .hexagons > ul > li .hexagon .face2:before {
  content: "";
  position: absolute;
  width: 220px;
  height: 220px;
  background: inherit;
}
/* line 524, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .face1 {
  transform: rotate(60deg);
}
/* line 526, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .face1:before {
  left: 0;
  transform-origin: left top;
  transform: rotate(-60deg) translate(-110px, 0);
}
/* line 530, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .face2 {
  transform: rotate(-60deg);
}
/* line 532, ../sass/main.sass */
.posts-block .hexagons > ul > li .hexagon .face2:before {
  right: 0;
  transform-origin: right top;
  transform: rotate(60deg) translate(110px, 0);
}

/* line 539, ../sass/main.sass */
.news-block .inner-news-block {
  background: #eee;
}
/* line 541, ../sass/main.sass */
.news-block .inner-news-block h2 {
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
  padding: 30px 0 50px 0;
}
/* line 546, ../sass/main.sass */
.news-block .inner-news-block .wrap-news {
  padding: 20px 70px 70px 70px;
  margin: 0 auto;
  background: #eee;
}
/* line 551, ../sass/main.sass */
.news-block .inner-news-block .wrap-news .news ul {
  font-size: 0;
}
/* line 553, ../sass/main.sass */
.news-block .inner-news-block .wrap-news .news ul li {
  display: inline-block;
  width: 33.33%;
}
/* line 556, ../sass/main.sass */
.news-block .inner-news-block .wrap-news .news ul li .wrap {
  padding: 0px 20px;
}
/* line 558, ../sass/main.sass */
.news-block .inner-news-block .wrap-news .news ul li .wrap .head {
  color: #70ccf3;
  margin-bottom: 20px;
}
/* line 561, ../sass/main.sass */
.news-block .inner-news-block .wrap-news .news ul li .wrap .head span.first {
  font-size: 36px;
}
/* line 563, ../sass/main.sass */
.news-block .inner-news-block .wrap-news .news ul li .wrap .head span.second {
  font-size: 24px;
  padding-left: 8px;
  vertical-align: top;
}
/* line 567, ../sass/main.sass */
.news-block .inner-news-block .wrap-news .news ul li .wrap a.title {
  display: inline-block;
  font-size: 18px;
  color: #000;
  margin-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 575, ../sass/main.sass */
.news-block .inner-news-block .wrap-news .news ul li .wrap a.description {
  display: inline-block;
  font-size: 18px;
  color: #000;
  text-align: left;
  text-decoration: none;
}
/* line 581, ../sass/main.sass */
.news-block .inner-news-block .wrap-news .news ul li .wrap a.button {
  font-size: 18px;
  color: #000;
  border: #000 solid 1px;
  margin: 40px 0 0 0;
  float: left;
  padding: 9px 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 592, ../sass/main.sass */
.news-block .inner-news-block .all-news {
  float: right;
  color: #000;
  margin-top: 40px;
  text-decoration: none;
}

/* line 598, ../sass/main.sass */
.text {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSItMTQlIiBzdG9wLWNvbG9yPSIjNTY1NjU2IiBzdG9wLW9wYWNpdHk9IjAuOTMiLz48c3RvcCBvZmZzZXQ9IjExNCUiIHN0b3AtY29sb3I9IiNhM2EzYTMiIHN0b3Atb3BhY2l0eT0iMC45MyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(-14%, rgba(86, 86, 86, 0.93)), color-stop(114%, rgba(163, 163, 163, 0.93)));
  background-image: -moz-linear-gradient(bottom, rgba(86, 86, 86, 0.93) -14%, rgba(163, 163, 163, 0.93) 114%);
  background-image: -webkit-linear-gradient(bottom, rgba(86, 86, 86, 0.93) -14%, rgba(163, 163, 163, 0.93) 114%);
  background-image: linear-gradient(to top, rgba(86, 86, 86, 0.93) -14%, rgba(163, 163, 163, 0.93) 114%);
}
/* line 600, ../sass/main.sass */
.text .content {
  padding: 115px 90px;
  margin: 0 auto;
}
/* line 603, ../sass/main.sass */
.text .content p {
  font-size: 1em;
  line-height: 1.5em;
  color: #fff;
}

/* line 609, ../sass/main.sass */
.CursorAnimateRotate {
  position: absolute;
  width: 100%;
  top: 0px;
  bottom: 0;
}

/* line 669, ../sass/main.sass */
footer {
  background: #000;
  height: 130px;
}
