{% from 'SiteMainBundle:Frontend/Gallery:macros.html.twig' import galleryWidget %}

<!-- Gallery -->
<section class="gallery-block">
    <div class="inner-gallery-block">
        {{ galleryWidget(gallery) }}
    </div>
</section>
<!-- end Gallery -->