{% from 'SiteMainBundle:Frontend/Director:macros.html.twig' import listTab %}

<!-- Directors -->
<section class="directors">
    <div class="wrap-directors-list">
        {{ listTab(directors) }}
    </div>
</section>
<!-- end Directors -->