{% from 'SiteMainBundle:Frontend/GroupCompany:macros.html.twig' import listTabGroup %}

<!-- Posts -->
<section class="posts-block bg-posts-block" id="posts">
    {{ listTabGroup(groupCompanies) }}
</section>
<!-- end Posts -->