{% extends 'SiteMainBundle:Frontend:layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% if app.request.attributes.get('_route') == 'frontend_group_company_one' %}
        <style type="text/css">
            .main{
                display: none;
            }
            .slide{
                display: none;
            }
            .news-block{
                display: none;
            }
            section.page .text{
                display: none;
            }
            footer{
                display: none;
            }
            .hexagon .info{
                display: none;
            }
            .hexagon .mediaOverlayIcon{
                display: none;
            }
        </style>
    {% endif %}
{% endblock %}

{% block content %}
    <section class="page myScroll">
        {{ render(url('frontend_gallery_index')) }}
    </section>
{% endblock %}

{% block javascripts %}
{% endblock %}