{% from 'SiteMainBundle:Frontend/News:macros.html.twig' import listSidebarNews %}

<!-- News -->
<section class="news-block">
    <div class="inner-news-block">
        {{ listSidebarNews(news) }}
    </div>
</section>
<!-- end News -->